html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

p {
    font-size: 18px;
    font-style: normal;
}

.navigation li {
    margin: 0 10px;
}

.navigation-mobile {
    height: auto;
    width: 30%;
    z-index: 11;
}
.mobile-menu {
    display: none;
}
.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 11;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #cfd8dc;
}
#menu-toggle{
    opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
}

.blog1-title p {
    font-size: 36.72px;
    font-weight: 400;
    line-height: 42px;
}

.about{
    width: 70%;
}

.advantages {
    margin-top: 140px;
}

.quote {
    width: 50%;
    margin: 0;
}

.quote p {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
}

.menu-font {
    font-size: 16px;
    font-weight: 500;
}

.blog-1 {
    background: url('/../web/img/image 24.jpg') no-repeat center;
    width: 100%;
}


a {
    color: #000;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.card-blog1 {
    /*width: 30%;*/
    min-height: 100px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 4.51996px rgba(0, 0, 0, 0.25);
}

.inline-card-blog1 {
    min-height: 100px;
    border: 1px dashed #767171;
    box-sizing: border-box;
}

.inline-card-blog1 p {
    font-weight: 700;
    padding-left: 25%;
}

.card-blog2 {
    width: 100%;
    min-height: 80px;
    height: auto;
    background-color: #E7F2FF;
    box-shadow: 0px 0px 4.51996px rgba(0, 0, 0, 0.25);
}

.inline-card-blog2 {
    min-height: 80px;
    border: 1px dashed #767171;
    box-sizing: border-box;
}

.inline-card-blog2 p {
    font-weight: 600;
    font-size: 16px;
}

.plazhki img {
    position: relative;
    width: 100%;
}

.plazhki img:hover {
    z-index: 10;
}
.question-item {
    position: relative;
}
.question-item:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 30px;
    background: url('/img/icons/icon-5.png') no-repeat center;
}

.img-blog2 {
    width: 40%;
}

.done {
    position: relative;
}

.done:before {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    top: calc(50% - (29px/2));
    left: 0;
    background: url('/img/icons/icon-1.png') no-repeat center;
}

.close-item {
    position: relative;
}

.close-item:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    left: 2%;
    background: url('/img/icons/icon-6.png') no-repeat center;
}

.img-number {
    position: relative;
}

.img-number:before {
    content: "";
    position: absolute;
    width: 47px;
    height: 63px;
    top: calc(50% - (63px/2));
    left: 0;
    background: url('/img/icons/icon-2.png') no-repeat center;
}

.img-globe {
    position: relative;
}

.img-globe:before {
    content: "";
    position: absolute;
    width: 68px;
    height: 63px;
    top: calc(50% - (63px/2));
    left: 0;
    background: url('/img/icons/icon-3.png') no-repeat center;
}

.img-rocket {
    position: relative;
}

.img-rocket p {
    font-family: Gilroy, sans-serif;
    font-weight: bold
}

.img-rocket:before {
    content: "";
    position: absolute;
    width: 69px;
    height: 66px;
    top: calc(50% - (66px/2));
    left: 0;
    background: url('/img/icons/icon-4.png') no-repeat center;
}

.advantage {
    width: 33.3%;
}

.advantage p {
    margin: 0;
}

.problems {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .navigation li {
        margin: 0;
    }
    .about{
        width: 80%;
    }
    .advantages {
        margin-top: 40px;
    }
    .img-blog2 {
        display: none;
    }
    .inline-card-blog1 p {
        padding-left: 17%;
    }
    .advantage {
        width: 55%;
        margin-left: 20%;
    }
    .cards-blog-2 {
        width: 50%;
        padding: 1%;
    }
    .problems {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .buttons-mobile {
        display: flex;
    }
    .lang{
        margin-right: 30px;
    }
    .mobile-menu {
        display: block;
    }
    .blog-2 {
        margin-top: 50px;
    }
    .about{
        width: 100%;
    }
    .advantages {
        margin-top: 40px;
    }
    .quote {
        width: 100%;
        margin-top: 30px;
    }
    .img-blog2 {
        display: none;
    }
    .card-globe {
        flex-wrap: wrap;
    }

    .inline-card-blog1 p {
        padding-left: 25%;
    }
    .advantage {
        width: 55%;
        margin-left: 20%;
    }
    .questions {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cards-blog2 {
        width: 100%;
    }
    .problems {
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px){
    .buttons-mobile {
        display: flex;
    }
    .lang{
        margin-right: 30px;
    }
    .mobile-menu {
        display: block;
    }
    .btn-mobile {
        display: flex;
    }
    .about{
        width: 100%;
    }
    .advantages {
        margin-top: 40px;
    }
    .quote {
        width: 100%;
        margin-top: 30px;
    }
    .blog-2 {
        margin-top: 50px;
    }
    .img-blog2 {
        display: none;
    }
    .inline-card-blog1 p {
        padding-left: 25%;
    }
    .advantage {
        width: 70%;
        margin-left: 20%;
    }
    .questions {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cards-blog2 {
        width: 100%;
    }
    .problems {
        margin-top: 30px;
    }
}

